<div class="container clearfix topmargin nobottommargin nobottompadding">
    <div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="60" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">
        <div class="oc-item"><a href="https://www.arsys.es" target="_blank"><img src="images/clients/arsys.png" alt="arsys"></a></div>
        <div class="oc-item"><a href="https://www.ormazabal.com"><img src="images/clients/ormazabal.png" alt="Clients"></a></div>
        <div class="oc-item"><a href="https://www.accio3.com"><img src="images/clients/accio3.png" alt="Accio3"></a></div>
        <div class="oc-item"><a href="https://www.cbcenter.es"><img src="images/clients/cbcenter.png" alt="CBCenter"></a></div>
    </div>
</div>

