<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	{{> head }}
	
	<!-- Document Title
	============================================= -->
	<title>Curso de git avanzado a distancia | cursodegit.com </title>
        <meta name="description" content="Curso de git avanzado en modalidad a distancia. Diseñado para formar a equipos distribuídos a que utilicen git con eficacia.">
</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		{{> header cursos=true}}

		<section id="page-title">
			<div class="container clearfix">
				<h1>Curso de git avanzado</h1>
				<span>Modalidad a distancia</span>
				<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Curso a distancia</li>
				</ol>
			</div>
		</section>
		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap notoppadding">
				<div class="section notopmargin">
					<div class="container clearfix">
						<h2>
							Ficha técnica del curso
						</h2>
						<p>
							<strong>Objetivos</strong>							
						</p>
						<ul class="list-unstyled">
							<li class="list-item">
								Entender cómo funciona git, el modelo de objetos y la estructura de datos que gestiona los commits de un repositorio
							</li>
							<li class="list-item">
								Entender qué son las ramas en git y su funcionamiento. Aprender a utilizarlas para trabajar en equipo
							</li>
							<li class="list-item">
								Entender qué es un repositorio remoto y aprender el funcionamiento del comando push
							</li>
							<li class="list-item">
								Aprender y poner en práctica diferentes flujos de trabajo en git
							</li>
						</ul>

						<p>
							<strong>¿A quién va dirigido?</strong> 
							Equipos de desarrollo con experiencia previa en el uso de git.
						</p>


						<p>
							<strong>Duración:</strong> 
							32 horas repartidas en dos semanas
						</p>

						<p>
							<strong>¿Subvencionable a través de FUNDAE?</strong> Sí
						</p>

						<p>
							<strong>Cliente de git:</strong> Sourcetree y línea de comandos
						</p>

						<p>
							<strong>¿Porqué una modalidad a distancia?</strong>

							Tras 7 años impartiendo cursos de git, recomendamos la modalidad presencial siempre sobre la modalidad
							online para sacar el máximo rendimiento al curso.

							<br/>

							Cuando los equipos están distribuidos y no es posible impartir el
							<a href="/curso-de-git-avanzado-presencial">curso avanzado en modalidad presencial</a>
							podemos impartir una modalidad a distancia.
						</p>

					</div>
				</div>
				
				<article class="container clearfix">
					<h2>Temario</h2>
					<section class="bottommargin">
						<h4>
						Tema 1: ¿qué es un commit?
						</h4>
						<ul class="list-group">
							<li class="list-group-item">
								Git sólo sabe hacer tres cosas...
							</li>
							<li class="list-group-item">
								¿Qué pasa cuando haces un commit?
							</li>
							<li class="list-group-item">
								La carpeta .git/objects
							</li>
							<li class="list-group-item">
								El indice de git, el área de trabajo y el repositorio
							</li>
							<li class="list-group-item">
								El flujo de trabajo más sencillo para empezar a trabaja con git
							</li>
						</ul>
					</section>
					
					<section class="bottommargin">
						<h4>
							Tema 2: Tags y ramas
						</h4>
						<ul class="list-group">
							<li class="list-group-item">Etiquetando commits con tags</li>
							<li class="list-group-item">¿Qué es un tag?</li>
							<li class="list-group-item">Referencias: entendiendo qué es una rama en git</li>
							<li class="list-group-item">El comando checkout y HEAD</li>
							<li class="list-group-item">Detached HEAD</li>
							<li class="list-group-item">Integración de ramas con merge</li>
							<li class="list-group-item">Flujos de trabajo con ramas</li>
						</ul>
					</section>

					<section class="bottommargin">
						<h4>Tema 3: Trabajando con referencias y el grafo de git</h4>
						<ul class="list-group">
							<li class="list-group-item">El grafo de git: entendiendo cómo funciona la estructura de datos que almacena nuestros commits</li>
							<li class="list-group-item">El reflog: recuperando commits</li>
							<li class="list-group-item">¿Cómo funciona el recolector de basura?</li>
							<li class="list-group-item">El comando reset a fondo (mixed, soft y hard)</li>
							<li class="list-group-item">Borrado de commits... de verdad</li>
						</ul>

					</section>
					
					<section class="bottommargin">
						<h4>
							Tema 4: Repositorios remotos
						</h4>
						<ul class="list-group">
							<li class="list-group-item">Qué es y cómo funciona un repositorio remoto</li>
							<li class="list-group-item">El comando push</li>
							<li class="list-group-item">Trabajando en equipo</li>
							<li class="list-group-item">Permisos de ramas y ramas protegidas</li>
						</ul>
					</section>

					<section class="bottommargin">
						<h4>
							Tema 5: El comando push a fondo
						</h4>
						<ul class="list-group">
							<li class="list-group-item">El comando push no es lo que parece...</li>
							<li class="list-group-item">Sintaxis completa del comando push</li>
							<li class="list-group-item">Entendiendo el comando push -f</li>
						</ul>
					</section>

					<section class="bottommargin">
						<h4>
							Tema 6: Pull requests
						</h4>
						<ul class="list-group">
							<li class="list-group-item">¿Qué es un pull request?</li>
							<li class="list-group-item">Ramas protegidas</li>
							<li class="list-group-item">Hacer pull-requests de manera "artesana"</li>
							<li class="list-group-item">Pull requests a través de github / bitbucket / gitlab</li>
							<li class="list-group-item">Ventajas e inconvenientes del uso de pull requests</li>
							<li class="list-group-item">Code reviews a través de github / bitbucket / gitlab</li>
						</ul>
					</section>

					<section class="bottommargin">
						<h4>
							Tema 7: Rebase
						</h4>
						<ul class="list-group">
							<li class="list-group-item">¿Qué es el comando rebase?</li>
							<li class="list-group-item">Integración de ramas con rebase</li>
							<li class="list-group-item">Ventajas e inconvenientes de rebase frente a merge</li>
						</ul>
					</section>
					
					<section class="bottommargin">
						<h4>
							Ejercicios
						</h4>
						<p>
							En la modalidad a distancia, el curso se reparte en varias sesiones de 4 horas que se 
							imparten durante dos semanas. En este tiempo, el equipo dispondrá de dos días entre las 
							sesiones teóricas para realizar los ejercicios propuestos de manera independiente.						
						</p>
					</section>

				</article>



			</article>

            {{> clients}}

        </section><!-- #content end -->


		{{> footer}}
	</div><!-- #wrapper end -->

    {{> footer_scripts }}

</body>
</html>
