<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{{> head }}
	<!-- Document Title
	============================================= -->
	<title>Inicio | cursodegit.com</title>
        <meta name="description" content="Cursos avanzados de git a medida para profesionales y empresas.">

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		{{> header home=true}}
		<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">
			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark" style="background-image: url('images/slider/swiper/9.jpg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-animate="fadeInUp">Deja de pelearte con git</h2>
									<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
										Te ayudamos a que tu equipo de desarrollo trabaje con git
										</br>
										de forma fluida y con efectividad.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
					<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
				</div>

				<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">
					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="heading-block topmargin text-center">
								<h1>¿Problemas con git?</h1>
							</div>

						</div>
						<div class="col-xl-5">
							<p class="lead">
								Pérdidas de códido, desorden, miedo a ejecutar comandos, frustración, poca efectividad, merges imposibles...
								¿te resulta familiar?
							</p>
							<p class="lead">
								Otras veces el equipo lleva tiempo usando git con cierta soltura, sin embargo hay pequeños detalles que se os escapan y 
								os falta confianza a la hora de ejecutar las operaciones más complejas.
							</p>
							<p class="lead">
								Nuestro <strong>curso de git avanzado</strong>
								os dará la confianza que necesitáis para sacarle todo el partido a git y <strong>utilizarlo sin miedo, con precisión y efectividad</strong>
							</p>
							<p class="lead text-center">
								<a href="/contacto.html" class="btn btn-success">
									Contacta con nosotros
								</a>
							</p>
						</div>

						<div class="col-xl-7">

							<div style="position: relative; margin-bottom: -60px;" class="ohidden" data-height-xl="426" data-height-lg="567" data-height-md="470" data-height-md="287" data-height-xs="183">
								<img src="images/frustration.jpg" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="100" alt="git frustration">
							</div>

						</div>

					</div>
				</div>

				<div class="section nobottommargin">
					<div class="container clear-bottommargin clearfix">

						<div class="row topmargin-sm clearfix">
							<div class="col-sm-12">
								<h2 class="text-center">Tu equipo está a tres pasos de multiplicar su productividad</h2> 
							</div>

							<div class="col-lg-4 bottommargin">
								<i class="i-plain color i-large icon-medical-i-radiology inline-block" style="margin-bottom: 15px;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<span class="before-heading">1 Estado del equipo.</span>
									<h4>Consultoría</h4>
								</div>
								<p>Antes del curso, nuestro equipo lleva a cabo una consultoría previa. En ella <strong>analizamos el estado del equipo y estudiamos vuestras necesidades</strong>.</p>
							</div>

							<div class="col-lg-4 bottommargin">
								<i class="i-plain color i-large icon-et-search inline-block" style="margin-bottom: 15px;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<span class="before-heading">2 Definición</span>
									<h4>Cursos a medida.</h4>
								</div>
								<p>
									La sesión de consultoría nos permite <strong>definir los objetivos y concretar el temario del curso de git</strong> más adecuado para vuestro equipo. 
									El contenido del curso dependerá de la experiencia que ya tengáis con git, vuestro stack tecnológico y entorno de desarrollo, estructura del equipo y el tipo
									de proyectos que realicéis.
								</p>
							</div>

							<div class="col-lg-4 bottommargin">
								<i class="i-plain color i-large icon-study inline-block" style="margin-bottom: 15px;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<span class="before-heading">3 ¡Manos a la obra!</span>
									<h4>Formación</h4>
								</div>
								<p>
									Impartimos el curso de git avanzado en vuestras instalaciones, en base a los requisitos, objetivos y temario definidos 
									en las sesiones de trabajo previas al curso.
								</p>
							</div>

						</div>

					</div>
				</div>

				<div class="container clearfix">
					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="heading-block topmargin text-center">
								<h2>Developer Happiness</h2>
							</div>

						</div>

						<div class="col-xl-5">
							<p class="lead">
								Una vez finalizado el curso, <strong>vuestro equipo dispondrá de los conocimientos necesarios
								para resolver todos esos problemas que os hacían perder efectividad</strong>.
							</p>
							<p class="lead">
								Además, somos conscientes de que hay muchas preguntas que no surgen durante la formación. Por ello, 
								contaréis con el <strong>acompañamiento del instructor cuando el curso termine para consultarle cualquier duda que os 
								pueda surgir sobre el temario impartido</strong>.
							</p>
							<p class="lead">
								Con práctica, llegaréis a controlar el versionado de vuestros proyectos con precisión y efectividad.
							</p>
							<p class="lead text-center">
								<a href="/contacto.html" class="btn btn-success">
									Contacta con nosotros
								</a>
							</p>
						</div>

						<div class="col-xl-7">

							<div style="position: relative; margin-bottom: -60px;" class="ohidden" data-height-xl="426" data-height-lg="567" data-height-md="470" data-height-md="287" data-height-xs="183">
								<img src="images/team_success.jpg" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="100" alt="surgeon">
							</div>

						</div>

					</div>
				</div>

				<div class="section nobottommargin nobottompadding">
					<div class="row clearfix common-height">

						<div class="col-lg-3 col-md-6 dark center col-padding" style="background-color: #515875;">
							<div>
								<i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
								<div class="counter counter-lined"><span data-from="100" data-to="575" data-refresh-interval="50" data-speed="2000"></span></div>
								<h5>Profesionales formados</h5>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 dark center col-padding" style="background-color: #576F9E;">
							<div>
								<i class="i-plain i-xlarge divcenter icon-line2-graph"></i>
								<div class="counter counter-lined"><span data-from="10" data-to="56" data-refresh-interval="100" data-speed="2500"></span></div>
								<h5>Cursos impartidos</h5>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 dark center col-padding" style="background-color: #6697B9;">
							<div>
								<i class="i-plain i-xlarge divcenter icon-line2-layers"></i>
								<div class="counter counter-lined"><span data-from="1" data-to="10" data-refresh-interval="1" data-speed="200"></span></div>
								<h5>Ciudades</h5>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 dark center col-padding" style="background-color: #88C3D8;">
							<div>
								<div class="counter counter-lined">Más de <span data-from="60" data-to="1000" data-refresh-interval="150" data-speed="2700"></span></div>
								<h5>Horas de formación</h5>
							</div>
						</div>

					</div>
				</div>
				<div class="section notopmargin notoppadding nobottommargin">
					<div id="google-map4" style="height: 400px" class="gmap"></div>
				</div>

				<div class="row clearfix common-height">

					<div class="col-lg-6 center col-padding" style="background: url('images/community.jpg') center center no-repeat; background-size: cover;">
						<div>&nbsp;</div>
					</div>

					<div class="col-lg-6 center col-padding" style="background-color: #F5F5F5;">
						<div>
							<div class="heading-block nobottomborder">
								<span class="before-heading color">Comunidad.</span>
								<h3>Meetups &amp; Blog</h3>
							</div>

							<div class="center bottommargin">
								<a href="https://www.youtube.com/watch?v=qwL3lhRwn78" data-lightbox="iframe" style="position: relative;">
									<img src="images/meetup_git_julio_2014.png" alt="Video">
									<span class="i-overlay nobg"><img src="images/icons/video-play.png" alt="Play"></span>
								</a>
							</div>
							<p class="lead nobottommargin">
								Visita nuestro <a href="https://www.youtube.com/channel/UCxrqcHQVPkwiNu_BOuZ4jdQ">canal de youtube</a>, 
								apuntate al <a href="https://www.meetup.com/es-ES/Spanish-Git-Meetup/">meetup de git</a> 
								y aprende leyendo <a href="http://www.aprendegit.com">nuestro blog</a>.
							</p>
						</div>
					</div>

				</div>

				<div class="section notopmargin">
					<div class="container clearfix">

						<div class="heading-block topmargin-sm center">
							<h3>Nuestro equipo</h3>
						</div>

						<div class="row">

							<div class="col-lg-4 col-md-6 bottommargin">

								<div class="team">
									<div class="team-image">
										<img src="/images/team/alfonso_alba_garcia.jpg" alt="Alfonso Alba">
									</div>
									<div class="team-desc team-desc-bg">
										<div class="team-title"><h4>Alfonso Alba</h4><span>Director de formación - Co-fundador</span></div>
										<a href="https://www.twitter.com/aalbagarcia" class="social-icon inline-block si-small si-light si-rounded si-twitter">
											<i class="icon-twitter"></i>
											<i class="icon-twitter"></i>
										</a>
										<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
											<i class="icon-linkedin"></i>
											<i class="icon-linkedin"></i>
										</a>
									</div>
								</div>

							</div>

							<div class="col-lg-4 col-md-6 bottommargin">

								<div class="team">
									<div class="team-image">
										<img src="/images/team/alejandro_barredo.jpg" alt="Alejandro Barredo">
									</div>
									<div class="team-desc team-desc-bg">
										<div class="team-title"><h4>Alejandro Barredo</h4><span>Dirección estratégica - Co-fundador</span></div>
										<a href="https://www.facebook.com/alejandro.barredo" class="social-icon inline-block si-small si-light si-rounded si-facebook">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>
									</div>
								</div>

							</div>

							<div class="col-lg-4 col-md-6 bottommargin">

								<div class="team">
									<div class="team-image">
										<img src="/images/team/susan_alcon.png" alt="Susan Alcón">
									</div>
									<div class="team-desc team-desc-bg">
										<div class="team-title"><h4>Susan Alcón</h4><span>Administración y producción</span></div>
										<a href="https://www.facebook.com/susan.alcon.5" class="social-icon inline-block si-small si-light si-rounded si-facebook">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>
										<a href="https://twitter.com/susanalcon" class="social-icon inline-block si-small si-light si-rounded si-twitter">
											<i class="icon-twitter"></i>
											<i class="icon-twitter"></i>
										</a>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

				<div class="container clearfix nobottommargin nobottompadding">

					<div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="60" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">

						<div class="oc-item"><a href="https://www.arsys.es" target="_blank"><img src="images/clients/arsys.png" alt="arsys"></a></div>
                        <div class="oc-item"><a href="https://www.accio3.com"><img src="images/clients/accio3.png" alt="Accio3"></a></div>
						<div class="oc-item"><a href="https://www.ormazabal.com"><img src="images/clients/ormazabal.png" alt="Clients"></a></div>
                        <div class="oc-item"><a href="https://www.cbcenter.es"><img src="images/clients/cbcenter.png" alt="CBCenter"></a></div>
                        <div class="oc-item"><a href="#"><img src="images/clients/14_blurred.png" alt="Clients"></a></div>
						<div class="oc-item"><a href="#"><img src="images/clients/12_blurred.png" alt="Clients"></a></div>
						<div class="oc-item"><a href="#"><img src="images/clients/16_blurred.png" alt="Clients"></a></div>
						<div class="oc-item"><a href="#"><img src="images/clients/14_blurred.png" alt="Clients"></a></div>

					</div>


				</div>

			</div>

		</section><!-- #content end -->

		{{> footer}}
	</div><!-- #wrapper end -->

    {{> footer_scripts }}

	<script src="https://maps.google.com/maps/api/js?key=AIzaSyAm0--8wE5I3ocPbRsL7P9Je0HfLiAMP9I"></script>
    <script src="js/jquery.gmap.js"></script>
	<script>
		$('#google-map4').gMap({
			address: 'Madrid',
			maptype: 'ROADMAP',
			zoom: 5,
			icon: {

		image: "http://www.google.com/mapfiles/marker.png",
		shadow: "http://www.google.com/mapfiles/shadow50.png",
		iconsize: [20, 34],
		shadowsize: [37, 34],
		iconanchor: [9, 34],
		shadowanchor: [19, 34]

			},
			markers: [
				{
						address: "Madrid, Spain",
						html: "Madrid, España",
						icon: {
							image: "images/map_number_icons/number_20.png",
							iconsize: [32, 37],
							iconanchor: [16, 34]
						}
				},
				{
						address: "Barcelona, Spain",
						html: "Barcelona, España",
						icon: {
							image: "images/map_number_icons/number_4.png",
							iconsize: [32, 37],
							iconanchor: [16, 34]
						}
				},
				{
						address: "Valencia, Spain",
						html: "Valencia, España",
						icon: {
							image: "images/map_number_icons/number_4.png",
							iconsize: [32, 37],
							iconanchor: [16, 34]
						}
				},
				{
						address: "Elda, Spain",
						html: "Elda, España",
						icon: {
							image: "images/map_number_icons/number_1.png",
							iconsize: [32, 37],
							iconanchor: [16, 34]
						}
				},
				{
						address: "Logroño, Spain",
						html: "Logroño, España",
						icon: {
							image: "images/map_number_icons/number_12.png",
							iconsize: [32, 37],
							iconanchor: [16, 34]
						}
				},
				{
						address: "Valladolid, Spain",
						html: "Valladolid, España",
						icon: {
							image: "images/map_number_icons/number_6.png",
							iconsize: [32, 37],
							iconanchor: [16, 34]
						}
				},
				{
						address: "Guisona, Spain",
						html: "Guisona, España",
						icon: {
							image: "images/map_number_icons/number_4.png",
							iconsize: [32, 37],
							iconanchor: [16, 34]
						}
				},
				{
						address: "Cáceres, Spain",
						html: "Cáceres, España",
						icon: {
							image: "images/map_number_icons/number_2.png",
							iconsize: [32, 37],
							iconanchor: [16, 34]
						}
				},
				{
						address: "Badajoz, Spain",
						html: "Badajoz, España",
						icon: {
							image: "images/map_number_icons/number_2.png",
							iconsize: [32, 37],
							iconanchor: [16, 34]
						}
				},
				{
						address: "Palma de Mallorca, Spain",
						html: "Palma de Mallorca, España",
						icon: {
							image: "images/map_number_icons/number_1.png",
							iconsize: [32, 37],
							iconanchor: [16, 34]
						}
				}				
			],
			doubleclickzoom: false,
			controls: {
					panControl: true,
					zoomControl: true,
					mapTypeControl: false,
					scaleControl: false,
					streetViewControl: false,
					overviewMapControl: false
		}
		});
	</script>
</body>
</html>
