<a class="github-fork-ribbon" target="_blank" href="https://github.com/cursodegit/web" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
<!-- Header
============================================= -->
<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="index.html" class="standard-logo" data-dark-logo=""><img src="images/cursodegit_logo.png" alt="logo cursodegit"></a>
                <a href="index.html" class="retina-logo" data-dark-logo=""><img src="images/cursodegit_logo@2x.png" alt="logo cursodegit"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="dark">
                <ul>
                    <li class="{{#if home }}current{{/if}}"><a href="index.html"><div>Home</div></a>
                    </li>
                    <li class="{{#if cursos }}current{{/if}}"><a href="#"><div>Cursos</div></a>
                        <ul>
                            <li><a href="curso-de-git-avanzado-presencial.html"><div><i class="icon-stack"></i>Git avanzado - presencial</div></a>
                            </li>
                            <li><a href="curso-de-git-avanzado-a-distancia.html"><div><i class="icon-stack"></i>Git avanzado - a distancia</div></a>
                            </li>
                        </ul>
                    </li>                    
                    <li class="{{#if aboutUs }}current{{/if}}"><a href="sobre-nosotros.html"><div>Sobre nosotros</div></a>
                    </li>
                    <li class="{{#if contact }}current{{/if}}"><a href="contacto.html"><div>Contacto</div></a>
                    </li>
                </ul>
            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->
