<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	{{> head }}
	
	<!-- Document Title
	============================================= -->
	<title>Política de privacidad y prototección de datos | cursodegit.com </title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		{{> header }}

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">
				<div class="container">

					<h1>Política de privacidad y protección de datos</h1>

					<p>
					En cumplimiento de la Legislación vigente y lo dispuesto en la LOPD 15/1999, de 13 de Diciembre, 
					“Alfonso Alba García”, le informa de que los datos de carácter personal que se faciliten a través de esta
					página web, pasarán a formar parte de un fichero de datos, 
					denominado CLIENTES Y/O PROVEEDORES, inscrito en el Registro General de la 
					Agencia Española de Protección de Datos, titularidad de “Alfonso Alba García” y 
					que serán tratados por ésta de acuerdo con la Legislación vigente en materia de 
					protección de datos de carácter personal, con la finalidad del mantenimiento de la relación 
					negocial surgida del presente contrato/formulario desde este momento.
					</p>	

					<p>
					Por tanto, UD. autoriza, como titular de los datos, a que éstos puedan ser comunicados a terceros, 
					siempre que esta comunicación responda a una necesidad para el desarrollo, cumplimiento, 
					mantenimiento y ejecución de las obligaciones surgidas de esta relación negocial, tal y como se 
					establece en el Art. 11.2.c) de la Ley anteriormente citada, o porque haya otra disposición legal 
					que autorice dicha cesión. Para ejercitar los Derechos de acceso, impugnación, rectificación, 
					cancelación u oposición de sus datos, deberán dirigirse a “Alfonso Alba García”, por correo electrónico a 
					la dirección cursos@cusodegit.com, sustituyendo la secuencia _ARROBA_ por el símbolo @.
					</p>
					<h2>Uso de los datos</h2>

					La información facilitada a través de los formularios de esta página será utilizada de la siguiente manera:
					<ul>
						<li>
							Para facilitar información relativa a los cursos en los que usted participe tales como avisos,
							notificaciones o enlaces de interés. Esta información se envía durante el desarrollo del curso.
						</li>
						<li>
							Para enviar notificaciones cuando publicamos nuevos artículos en el blog, siempre que estés 
							suscrito a los boletines.
						</li>
						<li>
							Para enviar información relavante a los eventos en los que alguno de nuestros profesores participen
							tales como conferencias, meetups, etc siempre que estés suscrito a los boletines.
						</li>
					</ul>
				</div>
			</div>

		</section><!-- #content end -->


		{{> footer}}
	</div><!-- #wrapper end -->

    {{> footer_scripts }}

</body>
</html>