<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	{{> head }}
	
	<!-- Document Title
	============================================= -->
	<title>Curso de git avanzado online | cursodegit.com </title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		{{> header aboutUs=true}}

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">
			</div>

		</section><!-- #content end -->


		{{> footer}}
	</div><!-- #wrapper end -->

    {{> footer_scripts }}

</body>
</html>