<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	{{> head }}
	
	<!-- Document Title
	============================================= -->
	<title>Sobre nosotros | cursodegit.com </title>
        <meta name="description" content="Especializados en la formación en git desde 2012, ayudamos a mejorar la productividad de los equipos de desarrollo que utilizan git.">

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		{{> header aboutUs=true}}

		<section id="page-title">
			<div class="container clearfix">
				<h1>Sobre nosotros</h1>
				<span>Porqué nos hemos embarcado en este proyecto</span>
				<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Sobre nosotros</li>
				</ol>
			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">
				<!-- Info
				============================================= -->
				<div class="container clearfix">
					<div class="col_one_third">
						<div class="heading-block fancy-title nobottomborder title-bottom-border">
							<h4>
								¿Qué es cursodegit.com?
							</h4>
						</div>
						<p>
							cursodegit.com es un proyecto de formación especializada en git. Entendemos
							la herramienta y entendemos los problemas que tienen los equipos porque nosotros
							los hemos tenido. Nuestro objetivo es ayudarte a resolverlos.
						</p>

					</div>
					<div class="col_one_third">
						<div class="heading-block fancy-title nobottomborder title-bottom-border">
							<h4>
								Formación "Lean"
							</h4>
						</div>
						<p>
							Aplicando la metodología "Lean" a la formación hemos diseñado un producto 
							formativo que resuelve un problema. En septiembre de 2012 empezamos con un prototipo de 8 horas. Un mes después 
							hicimos una segunda edición de 12 horas y en enero de 2013 sacamos el PMV (Producto Mínimo Viable) Desde entonces 
							el curso ha sufrido varias iteraciones, gracias al feedback de 
							las más de 550 personas que lo han realizado, hasta llegar al curso de 30 horas actual.
						</p>

					</div>
					<div class="col_one_third col_last">
						<div class="heading-block fancy-title nobottomborder title-bottom-border">
							<h4>
								Compromiso
							</h4>
						</div>
						<p>
							Al enfocarnos en el curso como un producto, en cursodegit.com no nos limitamos a impartir horas de formación
							al peso. Los cursos de git tienen un objetivo claro y un <strong>compromiso</strong> por parte nuestra que es 
							<strong>dotar a los equipos de los conocimientos necesarios para que
							puedan tomar las decisiones relacionadas con git de forma autónoma</strong>.
						</p>

					</div>

				</div><!-- #info end -->

				<!-- About Alfonso
				============================================= -->
				<div class="container clearfix">
					<div class="row align-items-stretch clearfix">
						<div class="col-md-5 col-padding" style="background: url('images/team/alfonso_alba_garcia.jpg') center center no-repeat; background-size: cover;"></div>
						<div class="col-md-7 col-padding">
							<div>
							<div class="heading-block">
								<span class="before-heading color">Director de Formación &amp; Fundador</span>
								<h3>Alfonso Alba García</h3>
							</div>
							<div class="row clearfix">
								<div class="col-lg-12">
									<p>
										<span>¿Cómo nace el proyecto?</span> En 2009, cuando todavía tenía mi propia empresa, decidimos migrar a git 
										tras varios problemas con subversion. La migración en sí no fue complicada, los problemas empezaron después.
									</p>
									<p>
										Trabajando con git, perdimos código en varias ocasiones, cosa que con subversion nunca nos había ocurrido. 
										El equipo era pequeño (5 personas) y aún así nos quedábamos atascados a menudo. Muchas veces
										teníamos que borrar un repositorio y volverlo a clonar. En más de una ocasión, sin saber el motivo, no podíamos
										hacer push y de nuevo la solución era borrar y clonar. Hay <a href="https://vimeo.com/82408340">un divertido vídeo</a>
										que hicieron desde kaleidos y que refleja perfectamente el sentir del equipo en aquella época.
									</p>
									<p>
										¿Cómo lo resolví? Parándome a entender la herramienta. Tras más de un año sufriendo,
										un viernes que de nuevo no podíamos hacer push de nuestros cambios sin saber porqué, decidí que era suficiente.
										Empecé entonces un proceso intensivo de varios días en los que no hice otra cosa que leer e intentar arreglar
										el repositorio, hasta que lo arreglé y tuve mi momento "¡Eureka!". La sesanción fue la misma que Neo en The Matriz
										al final de la película... pasé de no entender nada a entender todo lo que nos estaba pasando y, lo más importante
										¡sabía resolverlo!
									</p>
									<p>
										El proyecto nace en septiembre de 2012 con el objetivo de <strong>ayudar a los equipos de desarrollo que están
											en esta misma situación a que tengan su momento ¡eureka! y dejen de tener los mismo problemas que tenía mi equipo con git.
										</strong>. 
									</p>
									<a href="" class="social-icon inline-block si-small si-light si-rounded si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
									</a>
									<a href="https://twitter.com/aalbagarcia" class="social-icon inline-block si-small si-light si-rounded si-twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
									</a>
									<a href="https://www.linkedin.com/in/alfonsoalbagarcia/" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
									</a>

								</div>
							</div>
							</div>
						</div>
					</div>
				</div><!-- #about alfonso end -->

				<!-- What clients say
				============================================= -->
				<div class="section footer-stick">
					<h4 class="uppercase center">¿Qué dicen de nosotros?</h4>
					<div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false" style="width: 520px">
						<div class="flexslider" style="height: 227px;">
							<div class="slider-wrap">
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Esta semana pasada hemos tenido la oportunidad de afianzar y ampliar nuestros conocimientos de <a href="https://twitter.com/hashtag/Git?src=hash&amp;ref_src=twsrc%5Etfw">#Git</a> de la mano de <a href="https://twitter.com/aalbagarcia?ref_src=twsrc%5Etfw">@aalbagarcia</a>. Un magnífico curso de formación organizado por <a href="https://twitter.com/RiojaDigital?ref_src=twsrc%5Etfw">@RiojaDigital</a> y la Escuela Riojana de Administración Pública (ERAP) <a href="https://t.co/IcaubUMAqR">pic.twitter.com/IcaubUMAqR</a></p>&mdash; IDErioja (@iderioja) <a href="https://twitter.com/iderioja/status/1115142673483087872?ref_src=twsrc%5Etfw">April 8, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Muy bueno el curso de <a href="https://twitter.com/AprendeGit?ref_src=twsrc%5Etfw">@AprendeGit</a> en el <a href="https://twitter.com/Thinktic?ref_src=twsrc%5Etfw">@Thinktic</a> <a href="https://t.co/255eP3fsXC">pic.twitter.com/255eP3fsXC</a></p>&mdash; Luis (@lmarqueta) <a href="https://twitter.com/lmarqueta/status/885216737268051969?ref_src=twsrc%5Etfw">July 12, 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Semana de curso con <a href="https://twitter.com/aalbagarcia?ref_src=twsrc%5Etfw">@aalbagarcia</a> de <a href="https://twitter.com/AprendeGit?ref_src=twsrc%5Etfw">@AprendeGit</a> en <a href="https://twitter.com/infouex?ref_src=twsrc%5Etfw">@infouex</a> <a href="https://twitter.com/hashtag/C%C3%A1ceres?src=hash&amp;ref_src=twsrc%5Etfw">#Cáceres</a> <a href="https://t.co/77G7H0abxt">https://t.co/77G7H0abxt</a> <a href="https://twitter.com/hashtag/git?src=hash&amp;ref_src=twsrc%5Etfw">#git</a> <a href="https://t.co/fILkOErmeo">pic.twitter.com/fILkOErmeo</a></p>&mdash; ougu (@ougu) <a href="https://twitter.com/ougu/status/864039326472077312?ref_src=twsrc%5Etfw">May 15, 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Primer día de Curso de Git terminado y ya estoy deseando que llegue mañana, no importa que sea sabado <a href="https://twitter.com/aalbagarcia?ref_src=twsrc%5Etfw">@aalbagarcia</a> <a href="https://twitter.com/Cursodegit?ref_src=twsrc%5Etfw">@Cursodegit</a></p>&mdash; luisruizpavon (@luisruizpavon) <a href="https://twitter.com/luisruizpavon/status/439508575799754752?ref_src=twsrc%5Etfw">February 28, 2014</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr"><a href="https://twitter.com/luisruizpavon?ref_src=twsrc%5Etfw">@luisruizpavon</a> <a href="https://twitter.com/Cursodegit?ref_src=twsrc%5Etfw">@Cursodegit</a> <a href="https://twitter.com/aalbagarcia?ref_src=twsrc%5Etfw">@aalbagarcia</a> si Crees que hoy has aprendido, mañana vas a flipar....</p>&mdash; Francisco Fernández (@ronsonmaria) <a href="https://twitter.com/ronsonmaria/status/439509833226936320?ref_src=twsrc%5Etfw">February 28, 2014</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Muy contentó de la experiencia en el <a href="https://twitter.com/Cursodegit?ref_src=twsrc%5Etfw">@Cursodegit</a> .<a href="https://twitter.com/dfreniche?ref_src=twsrc%5Etfw">@dfreniche</a> tenía razón... Todo se ve más claro después de estas maravillosas 12 horas</p>&mdash; Francisco Fernández (@ronsonmaria) <a href="https://twitter.com/ronsonmaria/status/404311898470248448?ref_src=twsrc%5Etfw">November 23, 2013</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Me está gustando mucho la forma de explicar git de <a href="https://twitter.com/AprendeGit?ref_src=twsrc%5Etfw">@AprendeGit</a> :) sus cursos tienen que ser la caña! <a href="https://twitter.com/hashtag/bbBJZ?src=hash&amp;ref_src=twsrc%5Etfw">#bbBJZ</a></p>&mdash; Joaquín Engelmo (@kinisoftware) <a href="https://twitter.com/kinisoftware/status/327819179447160832?ref_src=twsrc%5Etfw">April 26, 2013</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet" data-lang="en"><p lang="es" dir="ltr">.<a href="https://twitter.com/ronsonmaria?ref_src=twsrc%5Etfw">@ronsonmaria</a> el <a href="https://twitter.com/Cursodegit?ref_src=twsrc%5Etfw">@Cursodegit</a> es imprescindible. Me ha cambiado la forma de pensar y trabajar. Increíble que 12 h den para tanto...</p>&mdash; Diego Freniche (@dfreniche) <a href="https://twitter.com/dfreniche/status/324023251619692544?ref_src=twsrc%5Etfw">April 16, 2013</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet" data-lang="en"><p lang="es" dir="ltr">Finalizado el <a href="https://twitter.com/Cursodegit?ref_src=twsrc%5Etfw">@Cursodegit</a> ha merecido la pena invertir el fin de semana. Perdido el miedo a hacer push y liársela parda a <a href="https://twitter.com/rrecheve?ref_src=twsrc%5Etfw">@rrecheve</a></p>&mdash; Víctor Pavón (@victormpav) <a href="https://twitter.com/victormpav/status/310774469528530945?ref_src=twsrc%5Etfw">March 10, 2013</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr"><a href="https://twitter.com/aalbagarcia?ref_src=twsrc%5Etfw">@aalbagarcia</a> <a href="https://twitter.com/Cursodegit?ref_src=twsrc%5Etfw">@Cursodegit</a> Fantástico curso de <a href="https://twitter.com/hashtag/git?src=hash&amp;ref_src=twsrc%5Etfw">#git</a>. Lo utilizaba pero no lo dominaba. Muy recomendable si realmente quieres controlar git.</p>&mdash; Javier Núñez (@javiernuber) <a href="https://twitter.com/javiernuber/status/310834295029784576?ref_src=twsrc%5Etfw">March 10, 2013</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr"><a href="https://twitter.com/aalbagarcia?ref_src=twsrc%5Etfw">@aalbagarcia</a> <a href="https://twitter.com/Cursodegit?ref_src=twsrc%5Etfw">@Cursodegit</a> Muy recomendable para abrir los ojos y comprender como GIT te ayuda a ser mas productivo! git commit -m&#39;.&#39; :P jeje</p>&mdash; Samuel de Ancos (@sdeancos) <a href="https://twitter.com/sdeancos/status/299649821109788673?ref_src=twsrc%5Etfw">February 7, 2013</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Gracias <a href="https://twitter.com/aalbagarcia?ref_src=twsrc%5Etfw">@aalbagarcia</a> por el <a href="https://twitter.com/Cursodegit?ref_src=twsrc%5Etfw">@Cursodegit</a> nos has abierto la via. Ha sido muy útil! Muy recomendable!</p>&mdash; Alvaro Everlet (@aeverlet) <a href="https://twitter.com/aeverlet/status/299648276393783297?ref_src=twsrc%5Etfw">February 7, 2013</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr"><a href="https://twitter.com/AprendeGit?ref_src=twsrc%5Etfw">@AprendeGit</a> maravilloso curso de iniciación a git. Ahora a practicarlo y a ver si se puede hacer un curso más avanzado! Muchas gracias!</p>&mdash; Pedro Gansó (@pgancas) <a href="https://twitter.com/pgancas/status/299144185569767424?ref_src=twsrc%5Etfw">February 6, 2013</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Totalmente recomendable el <a href="https://twitter.com/Cursodegit?ref_src=twsrc%5Etfw">@Cursodegit</a> que da <a href="https://twitter.com/aalbagarcia?ref_src=twsrc%5Etfw">@aalbagarcia</a>. Increíble como te aclara las ideas en dos días.</p>&mdash; Javi Moreno (@jmoreno78) <a href="https://twitter.com/jmoreno78/status/290236600359739392?ref_src=twsrc%5Etfw">January 12, 2013</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr">para dejar de intuir y comprender como es la magia de Git, muy recomendable este curso <a href="https://twitter.com/Cursodegit?ref_src=twsrc%5Etfw">@Cursodegit</a></p>&mdash; Juan Antonio Martín (@byjuanamn) <a href="https://twitter.com/byjuanamn/status/290248948344561664?ref_src=twsrc%5Etfw">January 13, 2013</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Recomendable el <a href="https://twitter.com/Cursodegit?ref_src=twsrc%5Etfw">@Cursodegit</a> de @Apendiendogit recomendable no, lo siguiente! Pasa de nivel 0 a entender Git en 2 días</p>&mdash; Pedro Muñoz (@Pmunoz08) <a href="https://twitter.com/Pmunoz08/status/290202506393419776?ref_src=twsrc%5Etfw">January 12, 2013</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<div class="slide">
									<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D491409197548778%26id%3D491197704236594&width=500" width="500" height="293" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div><!-- #What clients say end -->
			</div>

		</section><!-- #content end -->


		{{> footer}}
	</div><!-- #wrapper end -->

    {{> footer_scripts }}

</body>
</html>
